<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
        ">

	<!-- Enable annotation -->
	<context:annotation-config />
	<context:component-scan base-package="com.rick.quiz.data" />
	<context:component-scan base-package="com.rick.quiz.service" />
	<mongo:repositories base-package="com.rick.quiz.data.repo" />


	<!-- I make use of the Environment abstraction and property sources in Spring 
		to define which database to use. The environment variable 'database' has 
		to be set one way or another to be able to run the application or tests. -->
		
	<context:property-placeholder location="classpath*:${env}/config.properties" />
	
	<mongo:mongo id="mongo"  host="${mongo.host}" port="${mongo.port}"   />  
      
    <!-- <bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">  
        <constructor-arg name="username"  value="userName"/>  
        <constructor-arg name="password"  value="password"/>  
    </bean>   -->
      
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">  
        <constructor-arg ref="mongo" />  
        <constructor-arg value="${mongo.db}" />  
        <!-- <constructor-arg ref="userCredentials" />  --> 
    </bean>  
</beans>
