<div class="question-wrapper">
    <div class="question-item">

    </div>

    <div class="question-ctrls">
        <div class="question-timerWrapper">计时
            <span id="question-timer"></span>
        </div>
        <div class="question-navigation">
            <a href="javascript:void(0)" class="preq">上一题</a>
            <span>
                <select id="question-select">
                    <%_.each(questions, function(question, idx){%>
                        <option value="<%=idx%>">
                            <%=idx+1%>&nbsp -
                                <%=question.name%>
                        </option>
                        <%});%>
                </select>
            </span>
            <a href="javascript:void(0);" class="nextq">
                下一题
            </a>
        </div>
    </div>
</div>