<div class="row">


    <div class="col-md-12">
        <div class="col-md-6">
            <div>

                <div class="panel panel-default">


                    <div class="panel-heading">

                        <div class="collapse navbar-collapse">

                            <label for="">Questions</label>
                            <a href="" ng-click="new()"><i class="fa fa-plus"></i> 新增</a>

                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped tablesorter">
                                <thead>
                                    <tr>

                                        <th>Name <i class="fa fa-sort"></i>
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in questions" ng-click="select(item)" ng-class="{success:selectedItem.id == item.id}">
                                        <td>{{item.name}}</td>


                                        <td>

                                            <button type="button" class="btn btn-default" ng-click="delete(item)" ng-confirm-click="是否要删除{{item.name}}？"><i class="fa fa-times"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="toQuestionList(item)"><i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form role="form" ng-submit="submit(selectedItem)">
                <div class="form-group">
                    <label for="questionsetName">Name</label>
                    <input type="text" class="form-control" id="questionsetName" placeholder="" ng-model="selectedItem.name" required>
                </div>

                <div class="form-group">
                    <label for="questionsetName">Option</label>
                    <input type="text" class="form-control" id="optionName" placeholder="" ng-model="selectedOption.name" required>
                </div>
                <div class="panel panel-default">


                    <div class="panel-heading">

                        <div class="collapse navbar-collapse">

                            <label for="">Options</label>
                            <a href="" ng-click="newOption()"><i class="fa fa-plus"></i> 新增</a>

                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped tablesorter">

                                <tbody>
                                    <tr ng-repeat="option in selectedItem.options" ng-click="select(option)" ng-class="{success:selectedOption == option}">
                                        <td>{{option}}</td>


                                        <td>

                                            <button type="button" class="btn btn-default" ng-click="delete(option)" ng-confirm-click="是否要删除{{option}}？"><i class="fa fa-times"></i>
                                            </button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-default">Save/Update</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>