<div class="login-popout">
<div class="container">
    <div class="row">
        <div class="">
            <!-- <h1 class="text-center login-title">Must Login</h1> -->
            <div class="account-wall">
                <img class="profile-img" src="./img/user.png"
                    alt="">
                <form class="form-signin form" ng-submit="login()" ng-controller="LoginCtrl">
                <input type="text" class="form-control" placeholder="用户名" ng-model="username" required autofocus>
                <input type="password" class="form-control" placeholder="密码" ng-model="password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    登录
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>