<div class="row">
    <div class="col-md-12">

        <div>

            <div class="panel panel-default">

                <div class="panel-heading">

                    <div class="collapse navbar-collapse">

                        <label for="">试卷</label>
                        <a href="" ng-click="new()"><i class="fa fa-plus"></i> 新增</a>

                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                                <tr>

                                    <th>名称 <i class="fa fa-sort"></i>
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in quizs" ng-click="select(item)" ng-class="{success:selectedItem.id == item.id}">
                                    <td>{{item.name}}</td>

                                    <td>
                                        <button type="button" class="btn btn-default" ng-click="delete(item)" ng-confirm-click="是否要删除{{item.name}}？"><i class="fa fa-times"></i>
                                        </button>

                                        <button type="button" class="btn btn-default" ng-click="edit(item)"><i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>



    </div>
</div>